{% extends "vook_web/base.html" %}
{% load static %}
{% block body %}
<div class="jumbotron p-3 p-md-5 text-white rounded bg-dark hero">
  <div class="col-md-6 px-0 hero-left">
    <h1 class="display-4 font-weight-bold">ヴィンテージを始めましょう</h1>
    <p class="lead my-3">世界中のヴィンテージアイテムが掲載されており、各アイテムの特徴、歴史、価格がこのサイトを見ればわかります。</p>
    <p class="lead mb-0"><a href="{% url 'about' %}" target="_blank"
        class="text-white font-weight-bold">まずはこのページから...</a></p>
  </div>
  <div class="col-md-6 px-0 hero-right">
    <img src="{% static './image/hero_right_icon_v2.png' %}" class="hero-right-icon" alt="">
  </div>
</div>

<div class="row mb-2">
  <div class="col">
    <div class="card flex-md-row mb-4 shadow-sm h-md-250">
      <div class="card-body d-flex flex-column align-items-start">
        <img src="{% static './image/sample_levis.webp' %}" class="card-product" alt="">
        <div class="mb-1 card-product-nm"><a href="{% url 'product_page' product_0 %}">{{ product_0 }}</a></div>
        <div class="mb-1 text-muted card-product-min-price-header">最低出品額</div>
        <div class="mb-1 card-product-min-price">¥100,000</div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card flex-md-row mb-4 shadow-sm h-md-250">
      <div class="card-body d-flex flex-column align-items-start">
        <img src="{% static './image/sample_levis.webp' %}" class="card-product" alt="">
        <div class="mb-1 card-product-nm"><a href="{% url 'product_page' product_0 %}">{{ product_0 }}</a></div>
        <div class="mb-1 text-muted card-product-min-price-header">最低出品額</div>
        <div class="mb-1 card-product-min-price">¥100,000</div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card flex-md-row mb-4 shadow-sm h-md-250">
      <div class="card-body d-flex flex-column align-items-start">
        <img src="{% static './image/sample_levis.webp' %}" class="card-product" alt="">
        <div class="mb-1 card-product-nm"><a href="{% url 'product_page' product_1 %}">{{ product_1 }}</a></div>
        <div class="mb-1 text-muted card-product-min-price-header">最低出品額</div>
        <div class="mb-1 card-product-min-price">¥100,000</div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card flex-md-row mb-4 shadow-sm h-md-250">
      <div class="card-body d-flex flex-column align-items-start">
        <img src="{% static './image/sample_levis.webp' %}" class="card-product" alt="">
        <div class="mb-1 card-product-nm"><a href="{% url 'product_page' product_2 %}">{{ product_2 }}</a></div>
        <div class="mb-1 text-muted card-product-min-price-header">最低出品額</div>
        <div class="mb-1 card-product-min-price">¥100,000</div>
      </div>
    </div>
  </div>
</div>

<main role="main" class="container">
  <div class="row">
    <div class="col-md-8 blog-main">
      <h3 class="pb-3 mb-4  border-bottom">
        Article
      </h3>

      <div class="blog-post">
        <h2 class="blog-post-title">LEVIS'S 501 年代解説 66前期編</h2>
        <p class="blog-post-meta">January 1, 2014 by <a href="#">Mark</a></p>

        <p>This blog post shows a few different types of content that's supported and styled with Bootstrap. Basic
          typography, images, and code are all supported.</p>
        <hr>
        <p>Cum sociis natoque penatibus et magnis <a href="#">dis parturient montes</a>, nascetur ridiculus mus.
          Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Sed posuere consectetur est
          at lobortis. Cras mattis consectetur purus sit amet fermentum.</p>
        <blockquote>
          <p>Curabitur blandit tempus porttitor. <strong>Nullam quis risus eget urna mollis</strong> ornare vel eu
            leo. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
        </blockquote>
        <p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet
          fermentum.
          Aenean lacinia bibendum nulla sed consectetur.</p>
      </div><!-- /.blog-post -->

      <div class="blog-post">
        <h2 class="blog-post-title">BIG E 1967年~1973年に製造された501</h2>
        <p class="blog-post-meta">December 23, 2013 by <a href="#">Jacob</a></p>

        <p>Cum sociis natoque penatibus et magnis <a href="#">dis parturient montes</a>, nascetur ridiculus mus.
          Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Sed posuere consectetur est
          at lobortis. Cras mattis consectetur purus sit amet fermentum.</p>
        <blockquote>
          <p>Curabitur blandit tempus porttitor. <strong>Nullam quis risus eget urna mollis</strong> ornare vel eu
            leo. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
        </blockquote>
        <p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet
          fermentum.
          Aenean lacinia bibendum nulla sed consectetur.</p>
        <p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo
          luctus,
          nisi erat porttitor ligula, eget lacinia odio sem nec elit. Morbi leo risus, porta ac consectetur ac,
          vestibulum at eros.</p>
      </div><!-- /.blog-post -->

      <div class="blog-post">
        <h2 class="blog-post-title">LEVIS'S 501XX 解説記事</h2>
        <p class="blog-post-meta">December 14, 2013 by <a href="#">Chris</a></p>

        <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean lacinia
          bibendum nulla sed consectetur. Etiam porta sem malesuada magna mollis euismod. Fusce dapibus, tellus ac
          cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        <ul>
          <li>Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</li>
          <li>Donec id elit non mi porta gravida at eget metus.</li>
          <li>Nulla vitae elit libero, a pharetra augue.</li>
        </ul>
        <p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet
          fermentum.
          Aenean lacinia bibendum nulla sed consectetur.</p>
        <p>Donec ullamcorper nulla non metus auctor fringilla. Nulla vitae elit libero, a pharetra augue.</p>
      </div><!-- /.blog-post -->
    </div><!-- /.blog-main -->

    <aside class="col-md-4 blog-sidebar">
      <div class="p-3 mb-3 bg-light rounded">
        <h4 class=""><a href="{% url 'community' %}" target="_blank">Community</a></h4>
        <p class="mb-0">あなたのヴィンテージをつぶやいたり、コーディネートをアップロードしたり、コレクションを自慢しましょう</p>
        </a>
      </div>

      <div class="p-3">
        <h4 class="">Archives</h4>
        <ol class="list-unstyled mb-0">
          <li><a href="#">March 2014</a></li>
          <li><a href="#">February 2014</a></li>
          <li><a href="#">January 2014</a></li>
          <li><a href="#">December 2013</a></li>
          <li><a href="#">November 2013</a></li>
          <li><a href="#">October 2013</a></li>
          <li><a href="#">September 2013</a></li>
          <li><a href="#">August 2013</a></li>
          <li><a href="#">July 2013</a></li>
          <li><a href="#">June 2013</a></li>
          <li><a href="#">May 2013</a></li>
          <li><a href="#">April 2013</a></li>
        </ol>
      </div>
    </aside><!-- /.blog-sidebar -->

  </div><!-- /.row -->

</main><!-- /.container -->

<footer class="blog-footer text-center">
  <p>Blog template built for <a href="https://getbootstrap.com/">Bootstrap</a> by <a
      href="https://twitter.com/mdo">@mdo</a>.</p>
  <p>
    <a href="#">Back to top</a>
  </p>
</footer>
<script src="../../assets/js/vendor/holder.min.js"></script>
<script>
  Holder.addTheme('thumb', {
    bg: '#55595c',
    fg: '#eceeef',
    text: 'Thumbnail'
  });
</script>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
  integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script>
  window.jQuery || document.write('<script src="/docs/4.3/assets/js/vendor/jquery-slim.min.js"><\/script>')
</script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
<script src="/docs/4.3/assets/js/vendor/anchor.min.js"></script>
<script src="/docs/4.3/assets/js/vendor/clipboard.min.js"></script>
<script src="/docs/4.3/assets/js/vendor/bs-custom-file-input.min.js"></script>
<script src="/docs/4.3/assets/js/src/application.js"></script>
<script src="/docs/4.3/assets/js/src/search.js"></script>
<script src="/docs/4.3/assets/js/src/ie-emulation-modes-warning.js"></script>
<!-- </div> -->
{% endblock %}
