{% extends "vook_web/base.html" %} {% load static %} {% block body %}
<div id="global-container">
  <div id="container">
    <div class="mobile-menu__cover"></div>
    <div class="nav-trigger"></div>
    <header class="header">
      <div class="header__inner appear up">
        <div class="logo item">
          <span class="logo__vook"><a href="{% url 'index' %}">Vook</a></span>
        </div>
        <nav class="header__nav">
          <ul class="header__ul">
            <li class="header__li item">
              <a href="{% url 'about' %}">About</a>
            </li>
            <li class="header__li item">
              <a href="{% url 'search' %}">Search</a>
            </li>
            <li class="header__li item">
              <a href="{% url 'article' %}">Article</a>
            </li>
            <li class="header__li item">
              <a href="{% url 'community' %}">Community</a>
            </li>
            <li class="header__li item">
              <a class="btn filled" href="#">Register</a>
            </li>
          </ul>
        </nav>
        <button class="mobile-menu__btn">
          <span></span>
          <span></span>
          <span></span>
        </button>
      </div>
    </header>
    <div id="content">
      <div class="hero">
        <div class="swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="hero__title">Levi's</div>
              <img
                src="{% static 'images/index_slider_1_levis.jpg' %}"
                alt="levis"
              />
            </div>
            <div class="swiper-slide">
              <div class="hero__title">Champion</div>
              <img
                src="{% static 'images/index_slider_2_champion.jpg' %}"
                alt="champion"
              />
            </div>
            <div class="swiper-slide">
              <div class="hero__title">Military</div>
              <img
                src="{% static 'images/index_slider_3_military.jpg' %}"
                alt="military"
              />
            </div>
          </div>
          <div class="hero__footer">
            <img
              class="hero__downarrow"
              src="{% static 'images/arrow.svg' %}"
            />
            <span class="hero__scrolltext">scroll</span>
          </div>
        </div>
      </div>
      <div id="main-content">
        <aside class="side left">
          <div class="side__inner">
            <a href="#" class="tiktok icon tween-animate-title">Tiktok</a>
            <a href="#" class="instagram icon tween-animate-title">Instagram</a>
          </div>
        </aside>
        <main>
          <section class="search">
            <div class="search__inner">
              <div class="search__img cover-slide">
                <img
                  class="img-zoom"
                  src="{% static 'images/image-search.jpg' %}"
                />
              </div>
              <div class="search__texts appear left">
                <div class="search__texts-inner">
                  <div class="search__title main-title item">
                    <span class="indigo">Search</span>
                    <span>the vintage</span>
                  </div>
                  <div class="search__sub sub-title item">
                    ヴィンテージを検索しよう
                  </div>
                  <div class="search__description item">
                    <p>
                      全世界のヴィンテージを検索できるサービスを目指します。<br />
                    </p>
                    <p>あなたのお気に入りのヴィンテージを見つけてください。</p>
                  </div>
                  <div class="search__btn item">
                    <button class="btn filled">
                      <a href="{% url 'search' %}">検索する</a>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <section class="articles">
            <div>
              <h2 class="main-title tween-animate-title">
                Read Articles and Study Vintage
              </h2>
              <p class="sub-title tween-animate-title">
                記事や教科書を読んで、ヴィンテージを学ぼう
              </p>
            </div>
            <div class="articles__inner">
              <div class="articles__item">
                <div class="cover-slide hover-darken">
                  <div
                    class="bg-img-zoom img-bg50"
                    style="
                      background-image: url('{% static 'images/articles_item_levis.jpg' %}');
                    "
                  ></div>
                </div>
                <p class="articles__title">Levi's</p>
              </div>
              <div class="articles__item">
                <div class="cover-slide hover-darken">
                  <div
                    class="bg-img-zoom img-bg50"
                    style="
                      background-image: url('{% static 'images/articles_item_champion.jpg' %}');
                    "
                  ></div>
                </div>
                <p class="articles__title">Champion</p>
              </div>
              <div class="articles__item">
                <div class="cover-slide hover-darken">
                  <div
                    class="bg-img-zoom img-bg50"
                    style="
                      background-image: url('{% static 'images/articles_item_military.jpg' %}');
                    "
                  ></div>
                </div>
                <p class="articles__title">Military</p>
              </div>
              <div class="articles__item">
                <div class="cover-slide hover-darken">
                  <div
                    class="bg-img-zoom img-bg50"
                    style="
                      background-image: url('{% static 'images/articles_item_ralphlauren.jpg' %}');
                    "
                  ></div>
                </div>
                <p class="articles__title">Ralph Lauren</p>
              </div>
              <div class="articles__item">
                <div class="cover-slide hover-darken">
                  <div
                    class="bg-img-zoom img-bg50"
                    style="
                      background-image: url('{% static 'images/articles_item_pendleton.jpg' %}');
                    "
                  ></div>
                </div>
                <p class="articles__title">PENDLETON</p>
              </div>
              <div class="articles__item">
                <div class="cover-slide hover-darken">
                  <div
                    class="bg-img-zoom img-bg50"
                    style="
                      background-image: url('{% static 'images/articles_item_llbean.jpg' %}');
                    "
                  ></div>
                </div>
                <p class="articles__title">L.L.Bean</p>
              </div>
              <div class="articles__btn appear up">
                <button class="btn slide-bg item">
                  <a href="{% url 'article' %}">ヴィンテージを学ぼう</a>
                </button>
              </div>
            </div>
          </section>
          <section class="community">
            <div class="community__header">
              <h2 class="main-title tween-animate-title">Community</h2>
              <p class="sub-title tween-animate-title">
                アイテムを共有したり、売買しましょう
              </p>
            </div>
            <div class="community__inner appear up">
              <div class="community__container">
                <div class="community__item item">
                  <div class="community__img">
                    <img
                      src="{% static 'images/community_item_tsubuyaki.jpg' %}"
                      alt=""
                    />
                  </div>
                  <p class="community__title">ヴィンテージをつぶやく</p>
                </div>
                <div class="community__item item">
                  <div class="community__img">
                    <img
                      src="{% static 'images/community_item_uploadimg.jpg' %}"
                      alt=""
                    />
                  </div>
                  <p class="community__title">コレクションを共有する</p>
                </div>
                <div class="community__item item">
                  <div class="community__img">
                    <img
                      src="{% static 'images/community_item_exchanging.jpg' %}"
                      alt=""
                    />
                  </div>
                  <p class="community__title">コレクションを売買する</p>
                </div>
                <div class="community__item item">
                  <div class="community__img">
                    <img
                      src="{% static 'images/community_item_identifying.jpg' %}"
                      alt=""
                    />
                  </div>
                  <p class="community__title">ヴィンテージを判別する</p>
                </div>
                <div class="community__btn appear up">
                  <button class="btn cover-3d item">
                    <span>新規登録する</span>
                    <div class="community__btn__lower_text">
                      ※ コミュニティ機能は会員限定です
                    </div>
                  </button>
                </div>
              </div>
            </div>
          </section>
        </main>
        <aside class="side right">
          <div class="side__inner">
            <span class="tween-animate-title">&copy; Code Mafia</span>
          </div>
        </aside>
      </div>
    </div>
    <div class="footer appear up">
      <div class="logo item">
        <span class="logo__vook">Vook</span>
      </div>
      <nav class="footer__nav">
        <ul class="footer__ul">
          <li class="footer__li item"><a href="{% url 'about' %}">About</a></li>
          <li class="footer__li item">
            <a href="{% url 'search' %}">Search</a>
          </li>
          <li class="footer__li item">
            <a href="{% url 'article' %}">Article</a>
          </li>
          <li class="footer__li item">
            <a href="{% url 'community' %}">Community</a>
          </li>
          <li class="footer__li item">
            <a class="btn filled" href="#">Register</a>
          </li>
        </ul>
        <div class="footer__copyright item">&copy; Code Mafia</div>
      </nav>
    </div>
  </div>
  <nav class="mobile-menu">
    <div class="logo">
      <span class="logo__vook">Vook</span>
    </div>
    <ul class="mobile-menu__main">
      <li class="mobile-menu__item">
        <a class="mobile-menu__link" href="{% url 'about' %}">
          <span class="main-title">About</span>
          <span class="sub-title">Vookとは</span>
        </a>
      </li>
      <li class="mobile-menu__item">
        <a class="mobile-menu__link" href="{% url 'search' %}">
          <span class="main-title">Search</span>
          <span class="sub-title">商品を検索する</span>
        </a>
      </li>
      <li class="mobile-menu__item">
        <a class="mobile-menu__link" href="{% url 'article' %}">
          <span class="main-title">Article</span>
          <span class="sub-title">記事や教科書を読む</span>
        </a>
      </li>
      <li class="mobile-menu__item">
        <a class="mobile-menu__link" href="{% url 'community' %}">
          <span class="main-title">Community</span>
          <span class="sub-title">アイテムを共有・売買する</span>
        </a>
      </li>
      <li class="mobile-menu__item">
        <a class="mobile-menu__link" href="#">
          <span class="main-title">Register</span>
          <span class="sub-title">新規登録する</span>
        </a>
      </li>
    </ul>
  </nav>
</div>
{% endblock %}
