{% extends "vook_web/base.html" %}
{% load static %}
{% block body %}
<div style="text-align: center;">
    <h1>
        <p>{{brand}}</p>
        <p>{{item}}</p>
        <p>{{model}}</p>
        <p>{{age}}</p>
    </h1>
    <h1>
        {{product_name}}
    </h1>
    <div>
        <div>
            <h2>過去3日間の販売数</h2>
        </div>
        <div>
            <h2>サイズ別最低販売価格</h2>
            <ul>
                <p>W28: 280,000円</p>
                <p>W29: 280,000円</p>
                <p>W30: 280,000円</p>
                <p>W31: 280,000円</p>
                <p>W32: 280,000円</p>
                <p>W33: 280,000円</p>
                <p>W34: 280,000円</p>
                <p>W35: 280,000円</p>
            </ul>
        </div>
        <div>
            <h2>関連商品</h2>
            <ul>
                <p>levis-denim-501-40s-大戦モデル: 1,000,000円</p>
                <p>levis-denim-501-60s-ダブルネーム: 500,000円</p>
                <p>levis-denim-501-70s-66前期: 300,000円</p>
            </ul>
        </div>
        <div>
            <h2>価格動向</h2>
            <iframe width="606" height="441" seamless frameborder="0" scrolling="no"
                src="https://docs.google.com/spreadsheets/d/e/2PACX-1vQu6roxawWr9Br75oI6r3LB8eZYr_0E9IytA1Y4eh178xuE6t2OVM585glWEQ-s_TJeAY9dLYWfP2fh/pubchart?oid=1699074698&amp;format=interactive"></iframe>
        </div>
    </div>
    {% endblock %}
